/*GENERAL*/
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  -webkit-transition: 2s;
  transition:2s;
}

[class*=grid]{
  margin: 0;
}

[class*=col-], [class^=col] {
  padding: 0;
}

h1, h2, h3, h4 {
  font-family: sans-serif;
}

h1{
  font-size: 1.6rem;
  font-stretch: expanded;
  font-family: sans-serif;
}

h2{
  font-weight: lighter;
  font-size: 2rem;
  padding-bottom: 1%;
}

h3{
  font-weight: 300;
  font-size: 1.8rem;
}

h4{
  font-weight: bold;
}

p{
  font-family: serif;
  font-size: 1.2rem;
}


a{
  font-family: serif;
  text-decoration: none;
  color: black;
}

i{
  paddin: .5rem;

}

/*      HELPER      */
.flex-center {
  display:-webkit-box !important;
  display:-ms-flexbox !important;
  display:flex !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1%;
}

.center{
  text-align: center;
}

.rotate-text{
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  letter-spacing: 4px;
  font-size: 2.3rem;
}

.hidden{
  display:none;
}

.lighttext{
  color:#9052fd;
}

/* NAVIGATION */

.logo img{
  width: 200px;
}

nav .flex-center{
  padding:0.4% 0;
}

.menubutton{
  font-size: 1.8rem;
  font-family: hind;
}

.topicons{
  font-size: 1.8rem
}



/* MENU */

.navigation{
  position: fixed;
  width: 100%;
  background-color: white;
}

.menu{
  /*position: fixed;
  bottom:0;*/
  display: none;
  padding: 2%;
  background-color: black;
}

.menu.active{
  display: block;
}
.menubackground{
 background-color: black;
}

.menublock{
  padding:3%;
  -webkit-transition: 2s;
  transition:2s;
}

.menucontent{
  background-color: white;
}

.stage-right{
  position: relative;
  left:0;
}

.enter-stage-right{
  left:-67vw;
}

.stage-left{
  position: relative;
  right:0;
}

.enter-stage-left{
  right:-34vw;
}

.stage-bottom{
  position:relative;
  bottom:0;
}

.enter-stage-bottom{
  bottom:-44vh;
}


/*HEADER*/
.home{
  min-height: 13vh;
  background-image: url("../images/header_bkg.png");
  background-size: cover;
  background-position: center;
  text-align: center;
  color: #fafafa;
  margin-bottom: 2%;
  padding-top: 2%;
}
header,h1{
  font-size: 166%;
  font-family: sans-serif;
}

.headerfix{
  padding-top: 3.5%;
}



/*PAGE HOME*/

   /*BOX LEFT*/
.featured1{
  padding:2%;
}

.featured-left-box1{
  height: 50vh;
  background-image: url(http://marmartin.es/content/4.proyectos/08.Dystopia/25.jpg);
  background-size: cover;
  background-position: middle;
}

.box2main{
  padding:0 1%;
}

.box2main h3, h4, p{
  padding-top: 2%;
}

  /*BOX RIGHT*/
.featured2{
  padding:2%;
  background-color: #F0F3BD;
}

.featured-right{
  height: 25vh;
  background-size: cover;
  background-position: center;
  margin-bottom:1%;
}

.box2{
  padding:0 1%;
}

.box2 h3, h4, p{
  padding-top: 2%;
}

.home-box1{
  height: 25vh;
  background-image:url("../images/sharmila.jpg");
  background-size: cover;
  background-position: center;
  padding-top: 2%;
}

  /*BOX BOTTOM*/

.featured3{
  padding:2%;
  border-top: 5px double #8ca6ef;
  text-align: center;
}

/*PAGE PHOTOGRAPHY*/
.photopage{
  padding-left: 2%;
}
.work{
  width: 200px;
  height:150px;
  background-size: cover;
  background-position: center;
  display: inline-block;
}

.workmain{
  width:780px;
  padding-left: 2%;
}

.morework{
  padding:2%;
  margin: 2% 0;
  text-align: center;
}

.morework h2{
  padding-bottom: 2%;
}
.morework1{
  background-image: url("/images/mar-martin02.jpg");
}
.morework2{
  background-image: url("/images/mar-martin03.jpg");
}
.morework3{
  background-image: url("/images/mar-martin04.jpg");
}
.morework4{
  background-image: url("/images/mar-martin05.jpg");
}

/*PAGE FILM*/

.video-project{
  min-width: 640px;
  font-size: 1.3rem;
  text-align: left;
  padding-bottom: 3%;
  padding-top:1%;
}


.filmtop{
  text-align: center;
}

.artist-name-video-page{
  font-size: 60%;
}

.videomain{
  background-color: black;
}

.videomain iframe{
  margin: 0.5% auto;
  display: block;
}






/*PAGE ABOUT*/

.header-about{
  margin:0 2% 2%;
  text-align: center;
}
  /*image*/

.about-text{
  margin: 2% 0 2% 0;

}

.about{
  min-height: 60vh;
  background-image: url("../images/about.jpg");
  background-size: cover;
  background-position: center;
}

.contactabout{
  margin-top: 2%;
  padding-top: 1%;
  border-top: 2px solid #333333;
}
  /*MANIFESTO*/
.quote{
  font-family: serif;
  font-size:140%;
  font-weight:bold;
  padding-right: 2%;
  text-align: justify;
  line-height: 2rem;
}
.quote i{
  color: #333333;
  font-size: 2rem;
}

.quote span{
  color:#ff6627;
}
.manifesto{
  font-family: serif;
  font-size: 140%;
  text-align: justify;
  line-height: 2rem;
}







/*FOOTER*/
.footer{
  background-color: #89ffde;
  padding-left: 1%;
  padding-top: .4rem;
}

.footer a, i{
  color: #9052fd;
  text-decoration: none;
}
.contact{
  text-align: center;
}
.footer i{
  font-size: 32px;
  text-align: right;
  padding-right: 1rem;
}

.footer a:hover{
  font-weight: bold;
  color: #ff6627;
  -webkit-transition: 1s;
}

.aboutfooter{
  font-size: 1.5rem;

}
