---
layout: default

featured:
  - title: Perdiz Magazine
    author: Querida Estudio
    description: The new issue is full of incredible stories, photography, and characters.
    link: ../images/querida-perdiz.jpg
  - title: Bone Jelly
    author: Sharmila Banerjee
    description: One panel of the comic strip for the comic series 'Girlie'.
    link: ../images/sharmila.jpg
---
  <!-- HEADER -->
  <header class="home">
    <h1>
      <div>History has been male and the future is female</div>
    </h1>
    <!-- remeber the image -->
  </header>

  <!-- FEATURED SECTIONS TOP -->

  <section class="grid">

    <div class="featured1 col-8 grid-top">
      <div class="col-12">
        <h2>Featured photographer</h2>
      </div>
      <!-- FEATURED BOX LEFT -->
      <div class="featured-left-box1 col-7">
      </div>

      <div class="box2main col-5">
        <h3>Dystopia</h3>
        <h4>by Mar Martin</h4>
        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
        </p>
      </div>
    </div>

    <!-- FEATURED BOX RIGHT -->
    <div class="featured2 col-4 grid">
      <div class="col-12">
        <h2>Latest aditions</h2>
      </div>
      {%  for thing in page.featured %}
        <div class="featured-right col-6" style="background-image: url({{thing.link}});">
        </div>

        <div class="box2 col-6">
          <h3>{{thing.title}}</h3>
          <h4>by {{thing.author}}</h4>
          <p>{{thing.description}}
          </p>
        </div>
        {% endfor %}
      <!--
      <!-- RIGHT SECOND BOX -->
      <!-- <div class="home-box1 col-6">
      </div>

      <div class="home-box2 col-6">
        <h3>Bone Jelly</h3>
        <h4>by Sharmila Banerjee</h4>
        <p> </p>
      </div> -->

    </div>
  </section>

  <!-- FEATURED BOTTOM -->

  <section class="featured3 grid">
    <div class="col-12">
      <h2>Our favourite films</h2>
    </div>

    {% for object in site.videos limit: 4 %}

    <div class="col-3">
      <iframe src=" {{ object.video-url }}" width="250" height="150" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

      <h3>{{ object.name }}</h3>
      <h4>by {{ object.author }}</h4>
      <a href="{{object.url}}"> read more</a>
    </div>
    {% endfor %}

  </section>
