<!DOCTYPE html>
<html>
<head>
  <title>Kunst Girls</title>

  <link href="https://fonts.googleapis.com/css?family=Didact+Gothic|Hind|Libre+Baskerville" rel="stylesheet">


  <script src="https://use.fontawesome.com/28d49e5771.js"></script>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/gridlex/2.3.1/gridlex.min.css">

  <link href="/css/main.css" style="stylesheet" rel="stylesheet">
</head>

<body>
  <!-- NAVIGATION -->
  <nav class="navigation grid">
    <div class="menu col-1">Menu</div>

    <div class="logo col-9"><img src="/images/feminized-logo.jpg" alt=""></div>

    <div class="topicons col-2">
       <a href="mailto:martin.g.lucia@gmail.com">   <span>Contact</span> <i class="fa fa-envelope-o" aria-hidden="true"></i> </a>
    </div>
  </nav>


 {{ content }}



<!-- FOOTER -->

  <section class="footer grid">
    <!-- LEFT SIDE FOOTER -->
    <div class="footer col-6 grid-center">
      <div class="aboutfooter col-4">
        <a href"/about.page"> <span>About</span></a>
      </div>
      <div class="contactfooter col-4">
        <a href"/contact.page"> <span>Contact</span></a>
        <!-- link to the about page -->
      </div>
      <div class="sitepartnerfooter col-4">
        <a href="http://berlinfeministfilmweek.com/"> <span>Site partner</span></a>
      </div>
    </div>
    <!-- RIGHT SIDE FOOTER -->
    <div class="contact col-6">
      <a href="https://www.facebook.com/lucia.ming"> <i class="fa fa-facebook" aria-hidden="true"></i></a>
      <a href="https://www.instagram.com/luziaming/"> <i class="fa fa-instagram" aria-hidden="true"></i></a>
      <a href="https://www.youtube.com/channel/UC_8zBle6-dmX4KnDHmnw4oA"> <i class="fa fa-youtube" aria-hidden="true"></i></a>
      <a href="https://vimeo.com/luciamg"> <i class="fa fa-vimeo" aria-hidden="true"></i></a>
    </div>


  </section>




  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="/js/main.js"></script>

</body>
</html>
