---
layout: default
---
<h2 class="filmtop">Film</h2>
<!-- VIDEO MAIN -->
<section class="videomain">
  <iframe src="{{ page.video-url }}" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
</section>

<section class="grid-center">
  <!-- PROJECT DESCRIPTION -->
  <div class="video-project col-5">
    <h1 class>{{ page.name }}
      <div class="artist-name-video-page">{{ page.author }}</div>
    </h1>
    <p>
      {{ content }}
    </p>
  </div>

</section>

<!-- MORE VIDEOS BOTTOM -->
{% include video-listing-grid.html %}
