---
layout: default
---

<h2 class="filmtop">Film</h2>
<!-- VIDEO MAIN -->
<section class="videomain">
  <iframe src="https://player.vimeo.com/video/36867236?color=fcfcfc&title=0&byline=0&portrait=0" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
</section>

<section class="grid">

  <!-- PROJECT DESCRIPTION -->
  <div class="col-8">
    <h1 class="video-project">{{ page.name }}
      <div class="artist-name-video-page">{{ page.author }}</div>
    </h1>

    <p>
      {{ content }}
    </p>
  </div>

  <!-- LATEST VIDEOS -->

  <div class="latest-videos col-4 grid">
    <div class="col-12">
      <h2>Latest</h2>
    </div>
    {% for vid in site.videos limit:2 %}
    <a href="{{vid.url}}">
    <div class="box1 col-7">
      {{ vid.vimeo }}
    </div>

    <div class="box2 col-5">
      <h3>{{ vid.name }}</h3>
      <h4>{{ vid.author }}</h4>
    </div>
    </a>
{% endfor %}

<!--
    <div class="box1 col-7">
      <img src="http://placehold.it/250x120" />
    </div>

    <div class="box2 col-5">
      <h3>Name of the piece</h3>
      <h4>Author</h4>
    </div>
  </div>
 -->
</section>

<!-- MORE VIDEOS BOTTOM -->

  <section class="featured3 grid">
    <div class="col-12">
      <h2>More</h2>
    </div>

    {% for object in site.videos %}
    <div class="col-3">
      <iframe src=" {{ object.video-url }}" width="250" height="150" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

      <h3>{{ object.name }}</h3>
      <h4>by {{ object.author }}</h4>
    </div>
    {% endfor %}

    <!-- <div class="col-3">
      <img src="http://placehold.it/250x150" />
      <h3>Name of the piece</h3>
      <h4>Name of the artist</h4>
    </div>
    <div class="col-3">
      <img src="http://placehold.it/250x150" />
      <h3>Name of the piece</h3>
      <h4>Name of the artist</h4>
    </div>
    <div class="col-3">
      <img src="http://placehold.it/250x150" />
      <h3>Name of the piece</h3>
      <h4>Name of the artist</h4>
    </div>
    <div class="col-3">
      <img src="http://placehold.it/250x150" />
      <h3>Name of the piece</h3>
      <h4>Name of the artist</h4>
    </div> -->
  </section>
